{% extends 'base.html' %}
{% block body %}
<div class="container my-5">
    <div class="row">
        <div class="col-md-4 text-center mb-4">
            <img src="/static/image.png" class="img-fluid rounded-circle" alt="Daksh R Titarmare" />
        </div>
        <div class="col-md-8">
            <h1>Hi 👋, I'm Daksh R Titarmare</h1>
            <p>Proficient in Python, C, PHP, Android Studio | Passionate About Secure Coding and Machine Learning</p>
            <p><strong>🌱 I’m currently learning:</strong> Android Development</p>
            <p><strong>👨‍💻 All of my projects are available at:</strong> <a href="https://devdaksh.netlify.app/" target="_blank">devdaksh.netlify.app</a></p>
            <p><strong>💬 Ask me about:</strong> Python, PHP, Java</p>
            <p><strong>📫 How to reach me:</strong> devdakshtit@gmail.com</p>
            <p><strong>⚡ Fun fact:</strong> Beyond coding, I enjoy brainstorming and collaborating on new ideas and projects.</p>
            <h4>Connect with me:</h4>
            <ul class="list-unstyled">
                <li>GitHub: <a href="https://github.com/itz-daxh94" target="_blank">dev_daxh_</a></li>
                <li>LinkedIn: <a href="https://www.linkedin.com/in/daksh-titarmare/" target="_blank">Daksh Raju Titarmare</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
