{% extends 'base.html' %}
{% block title %} Home {% endblock title %}

{% block body %}
<div class="container my-5">
    <div class="card">
        <div class="card-header text-center">
            <h2>Add a TODO</h2>
        </div>
        <div class="card-body">
            <form action="/" method="POST">
                <div class="mb-3">
                    <label for="todoTitle" class="form-label">TODO Title</label>
                    <input type="text" class="form-control" id="todoTitle" name="title" required />
                </div>
                <div class="mb-3">
                    <label for="todoDescription" class="form-label">TODO Description</label>
                    <input type="text" class="form-control" id="todoDescription" name="desc" required />
                </div>
                <button type="submit" class="btn btn-outline-primary w-100">Add TODO</button>
            </form>
        </div>
    </div>

    <div class="my-4">
        <h3>Your TODOs</h3>
        <div class="table-responsive">
            <table class="table table-hover">
                {% if allTodo|length == 0 %}
                    <h5 class="text-danger">Start your productive day by adding a TODO!</h5>
                {% else %}
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">TODO Title</th>
                            <th scope="col">TODO Description</th>
                            <th scope="col">Date Created</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for todo in allTodo %}
                        <tr>
                            <th scope="row">{{ loop.index }}</th>
                            <td>{{ todo.title }}</td>
                            <td>{{ todo.desc }}</td>
                            <td>{{ todo.date_created.strftime('%Y-%m-%d %H:%M:%S') }}</td>
                            <td>
                                <div class="d-flex flex-column flex-md-row">
                                    <a href="/update/{{ todo.sno }}" class="btn btn-outline-danger btn-sm mb-2 mb-md-0 me-md-2">Update</a>
                                    <a href="/delete/{{ todo.sno }}" class="btn btn-outline-danger btn-sm">Complete</a>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                {% endif %}
            </table>
        </div>
    </div>
</div>
{% endblock %}
